<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Statisfactory Real-Life Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-icons/font/bootstrap-icons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
</head>
<body class="body-grid satisfactory-text-white">

<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow satisfactory-grey">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        <i class="bi bi-graph-up-arrow"></i>
        Statisfactory - Aggrégation de Données Normalisées
    </a>
    <div class="navbar-nav satisfactory-light-grey">
        <div class="nav-item text-nowrap">
            <span class="nav-link px-5"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar satisfactory-bg">
            <div class="position-sticky">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Minerai de fer</strong>
                            <small>3.21 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Minerai de cuivre</strong>
                            <small>6.54 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Calcaire</strong>
                            <small>9.87 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Charbon</strong>
                            <small>4.79 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-orange">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Eau</strong>
                            <small>4.64 m3</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Pétrol brut</strong>
                            <small>7.46 m3</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Minerai de catérium (or)</strong>
                            <small>3.46 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Bauxite</strong>
                            <small>6.46 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Quartz brut</strong>
                            <small>1.54 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Sulfure</strong>
                            <small>7.46 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Uranium</strong>
                            <small>6.85 Gt</small>
                        </div>
                    </li>
                    <li class="list-group-item satisfactory-bg satisfactory-text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Bois (Biomasse)</strong>
                            <small>9.68 Gt</small>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="row">
                <div class="col-6">dsfs</div>
                <div class="col-6">sdfd</div>
            </div>
        </main>
    </div>
</div>

<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
